@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

:root {
  --primary-color: rgb(240, 247, 210);
}

body {
  font-family: "Odibee Sans" sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**************************NAVBAR ***************************/

.logo {
  width: 5rem;
  height: 4rem;
  padding-left: 20%;
}


/*-------Nav Links-----------*/

nav a.nav-link{
  color: aliceblue;
  font-weight: bolder;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  position:relative;
  z-index: 1;
}


nav a.nav-link:hover
{
  transform: scale(1.5); 
}


@media only screen and (max-width: 600px) {
  nav a.nav-link:hover
  {
    transform: none;
  }

}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a{
  color: var(--primary-color) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem !important;
}

@media (max-width: 600px)
{
  .navbar-brand{
    width: 7rem;
  }
}

/************************** HEADER ***************************/

.header-wraper {
  position: relative;
  background: url(./components/images/pexels-tranmautritam-326508.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Odibee Sans" sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: rgb(78, 55, 14);
  text-shadow: 0 0 10px #fff, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6;
  text-transform: uppercase;
  font-weight: bolder;
}

@media(max-width: 600px)
{
  .main-info h1 {
    font-size: 1.5rem !important;
  }

  .typed-text{
    font-size: 1.3rem !important;
  }
}

/*----------------Typed-Text------------*/

.typed-text {
  font-size: 2rem;
  color: rgb(84, 106, 11);
  font-weight: bold;
}


/*-------------------Header main offer button ------*/

.btn{
  border: 1px solid rgba(209, 255, 6, 0.796);;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: rgba(62, 206, 168, 0.911);
  margin: 2rem;
}

.btn:hover{
  text-decoration: none;
}

/*--------------Particles JS-------------------------*/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 600px) 
  {
    .particles-canvas {
      display: none;
    
    }
}
